@use "./../../styles/mixins" as *;
@use "./../../styles/typography" as *;
@use "./../../styles/colors.scss" as *;

.add{
    display:flex;
    flex-direction:column;
    align-items:center;
    margin-top:30px;
    font-family:"Changa",sans-serif;
    .add__title{
        color:$bright-teal;
        margin:0;
    }
    .add__text{
        width:75%;
        height:800px;
        padding:15px 15px;
    }
    .add__button{
        background-color: $bright-teal;
        width:100px;
        height:40px;
        margin-bottom:15px;
        border-radius:20px;
        border:0;
    }
}
.loginError{
    display:flex;
    width:100%;
    text-align:center;
    justify-content:center;
    font-size:30px;
    color:$bright-teal;
    font-family:"Changa"sans-serif;
}